[submodule "Doc-Nubomedia-MultisensoryDataModule"]
	path = Doc-Nubomedia-MultisensoryDataModule
	url = https://github.com/nubomedia/Doc-Nubomedia-MultisensoryDataModule
[submodule "Doc-Nubomedia-Armodule"]
	path = Doc-Nubomedia-Armodule
	url = https://github.com/nubomedia/Doc-Nubomedia-Armodule
[submodule "Doc-Nubomedia-VTT-AR-Demo"]
	path = Doc-Nubomedia-VTT-AR-Demo
	url = https://github.com/nubomedia/Doc-Nubomedia-VTT-AR-Demo
[submodule "nubomedia-cdn-tutorial"]
	path = nubomedia-cdn-tutorial
	url = https://github.com/nubomedia/nubomedia-cdn-tutorial
[submodule "developer-guidelines"]
	path = developer-guidelines
	url = https://github.com/nubomedia/developer-guidelines
[submodule "doc-kurento-room"]
	path = doc-kurento-room
	url = https://github.com/nubomedia/doc-kurento-room
[submodule "doc-kurento-tree"]
	path = doc-kurento-tree
	url = https://github.com/nubomedia/doc-kurento-tree
[submodule "doc-kurento-repository"]
	path = doc-kurento-repository
	url = https://github.com/nubomedia/doc-kurento-repository
[submodule "doc-kurento-jsonrpc"]
	path = doc-kurento-jsonrpc
	url = https://github.com/nubomedia/doc-kurento-jsonrpc
[submodule "nubomedia-repository-tutorial"]
	path = nubomedia-repository-tutorial
	url = https://github.com/nubomedia/nubomedia-repository-tutorial
[submodule "nubomedia-room-tutorial"]
	path = nubomedia-room-tutorial
	url = https://github.com/nubomedia/nubomedia-room-tutorial
[submodule "DOC-NUBOMEDIA-VCA"]
	path = DOC-NUBOMEDIA-VCA
	url = https://github.com/nubomedia/DOC-NUBOMEDIA-VCA
